.cards{
    max-width:610px;
}
.center-block {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:left;
    padding:0px;
    padding-right:20px;
 }
 .center-block > h5{
    width:100%;
}
.cards > .col-4{
    padding:10px;
}
.small_img_container{
    max-width:180px;
    max-height:150px;
}
.small_img_container > img {
    overflow:hidden;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    max-width:180px;
    max-height:150px;
    min-height:150px;
}
.c-title{
    font-family:'Roboto-Bold';
    font-size:16px;
    line-height:16px;
    margin-bottom:0;
    margin-bottom:14px;
    margin-top:30px;
    max-width:180px;
}
.c-text{
    font-family:'Roboto-Light';
    font-size:14px;
    line-height:18px;
    max-width:180px;
}

@media only screen and (max-width : 767px) {
    .c-title,.c-text{
        max-width:250px;
    }
    .c-title{
        margin-top:18px !important;
    }
    .c-text{
        margin-bottom: 50px;
    }
    .center-block{
        padding-right:0px !important;
    }
    .c-title,.c-text{
        max-width:228px;
    }
    .small_img_container{
        max-width:250px !important;
        max-height:200px !important;
        background-color:red !important;
    }
    .small_img_container > img{ 
         width:225px !important;
         max-width:250px !important;
         max-height:200px !important;
     }
}